@model Entities.Concrete.Office



<div class="row">
    <div class="col-xl-12">
        <div style="margin:5px 5px  5px 5px">
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Id</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtId" type="number" disabled="disabled" value="@if (Model != null) @Model.Id">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Şube Adı</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtName" type="text" placeholder="Şube Adı" value="@if (Model != null) @Model.Name">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Açıklama</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtDescription" type="text" placeholder="Açıklama" value="@if (Model != null) @Model.Description">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Ünvan</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtTitle" type="text" placeholder="Ünvan" value="@if (Model != null) @Model.Title">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Web Adresi</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtWebAddress" type="text" placeholder="Web Adresi" value="@if (Model != null) @Model.WebAddress">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtEmail" type="text" placeholder="Email" value="@if (Model != null) @Model.Email">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Telefon 1</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtPhone1" type="text" placeholder="Telefon 1" value="@if (Model != null) @Model.Phone1">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Telefon 2</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtPhone2" type="text" placeholder="Telefon 2" value="@if (Model != null) @Model.Phone2">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Fax</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtFax" type="text" placeholder="Fax" value="@if (Model != null) @Model.Fax">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">İl</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtCity" type="text" placeholder="İl" value="@if (Model != null) @Model.City">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">İlçe</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtCounty" type="text" placeholder="İlçe" value="@if (Model != null) @Model.County">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Adres 1</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtAddress1" type="text" placeholder="Adres 1" value="@if (Model != null) @Model.Address1">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Adres 2</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtAddress2" type="text" placeholder="Adres 2" value="@if (Model != null) @Model.Address2">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Ticaret Sicil No</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtTradeRegisterNumber" type="text" placeholder="Ticaret Sicil No" value="@if (Model != null) @Model.TradeRegisterNumber">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Vergi Dairesi</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtTaxOfficeName" type="text" placeholder="Vergi Dairesi" value="@if (Model != null) @Model.TaxOfficeName">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
            <div class="form-group row fv-plugins-icon-container">
                <label class="col-xl-3 col-lg-3 col-form-label">Vergi No</label>
                <div class="col-lg-9 col-xl-9">
                    <input class="form-control" id="txtTaxOfficeNo" type="text" placeholder="Vergi No" value="@if (Model != null) @Model.TaxOfficeNo">
                    <div class="fv-plugins-message-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>