@model dynamic


<div class="form-group row">
    <label class="col-form-label col-lg-3 col-xl-3">Dönem</label>
    <div class="col-lg-9 col-xl-9">
        <select class="form-control selectpicker" name="selectSession" id="selectSession">
            @if (Model.Session != null)
            {

                @if ((int)Model.SelectedId == -99)
                {
                    <option selected="" value="0">Hepsi</option>
                }

                @foreach (var session in Model.Session as List<Entities.Concrete.Session>)
                {

                    if (session.Id == (int)Model.SelectedId)
                    {
                        <option selected="" value="@session.Id" data-subtext="@session.Year - @session.Sequence">@session.Name</option>
                    }
                    else
                    {
                        if ((int)Model.SelectedId == (int)0 && session.Active)
                        {
                            <option selected="" value="@session.Id" data-subtext="@session.Year - @session.Sequence">@session.Name</option>
                        }
                        else
                        {
                            <option value="@session.Id" data-subtext="@session.Year - @session.Sequence">@session.Name</option>
                        }

                    }

                }

            }
        </select>
    </div>
</div>